
@font-face {
  font-family: 'Goldman-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Goldman-Bold'),
    url('../fonts/Goldman-Bold.woff2') format('woff2'),
    url('../fonts/Goldman-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Goldman-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Goldman-Regular'),
    url('../fonts/Goldman-Regular.woff2') format('woff2'),
    url('../fonts/Goldman-Regular.woff') format('woff');
  font-display: swap;
}

