@use 'importer' as *;
.footer {
  background-color: $dark-800;
  &__wrapper {
    position: relative;
    padding: 70px 0 56px;
    overflow: hidden;
    z-index: 0;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/content/footer-bg.png');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__social-block {
    max-width: 322px;
    width: 100%;
  }
  .logo {
    margin-bottom: 20px;
    font-size: 38px;
  }

  &__social-decr-box {
    font-size: 15px;
    line-height: 1.2;
    color: $grey-text-2;
    padding-top: 20px;
    p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__nav-block {
    max-width: 308px;
    width: 100%;
  }
  ul.footer__nav-list {
    margin-bottom: 30px;
  }
  &__nav-item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__nav-link {
    @include Gordita-400;
    font-size: 20px;
    color: $white-400;
    line-height: 1;
  }
  &__hero-block {
    position: relative;
  }
  &__hero-title{
    @include Goldman-400;
    //font-size: 128px;
    font-size: clamp(60px, 8vw, 128px);
    line-height: 1;
    color: $white-400;
    text-align: center;
    margin-top: -50px;
  }
  &__hero-title-txt {
    margin-bottom: 30px;
    display: block;
    &--style {
      margin-bottom: 0;
      color: $accent;
    }
  }
  &__hero-img {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 335px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__bg-title {
    margin: 0 auto;
    position: absolute;
    top: 63%;
    left: 0;
    right: 0;
    font-size: 13.5cqw;
    @include Goldman-400;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    pointer-events: none;
    z-index: 0;
    text-align: center;
  }
}

@media (max-width: 1400px) {
  .footer {
    &__inner {
      gap: 20px;
    }
    &__hero-title {
      margin-top: -45px;
    }
    &__bg-title {
      top: auto;
      bottom: -35px;
    }
  }
}
@media (max-width: 1240px) {
  .footer {
    &__hero-title {
      margin-top: -35px;
    }
  }
}

@media (max-width: 1150px) {
  .footer {
    &__hero-title {
      font-size: clamp(60px, 6vw, 128px);
      margin-top: -16px;
    }
  }
}

@media (max-width: 992px) {

  .footer {
    &__wrapper {
      padding: 75px 0 160px;
      &::before {
        display: none;
      }
    }
    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
    &__social-block {
      margin-bottom: 80px;
    }
    &__hero-block {
      padding-bottom: 335px;
      position: static;
      &::before {
          position: absolute;
          content: '';
          background-image: url('../images/content/footer-bg-m.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center 30%;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          z-index: -1;
        }
    }
    &__hero-title {
      font-size: clamp(60px, 100vw, 128px);
    }
    &__hero-title-txt {
      margin-bottom: 0;
      position: relative;
      z-index: -3;
    }
    &__hero-img {
      top: 30%;
      z-index: -2;
    }
    &__nav-block {
      padding-top: 20px;
      text-align: center;
    }
    &__bg-title {
      bottom: 0;
    }
  }
}
@media (max-width: 880px) {
  .footer {
    &__hero-block {
      &::before {
        background-position: center 33%;
      }
    }
  }
}
@media (max-width: 767px) {
  .footer {
    &__wrapper {
      padding-bottom: 120px;
    }
    &__social-block {
      margin-bottom: 30px;
    }
    &__hero-title {
      font-size: clamp(60px, 16vw, 128px);
    }
    &__hero-block {
      &::before {
        background-position: center 45%;
      }
    }
  }
}

@media (max-width: 578px) {
.footer {
  &__wrapper{
    padding-bottom: 92px;
  }
  &__hero-img {
      top: 31%;
      max-width: 300px;
    }
  }
}
@media (max-width: 440px) {
  .footer {
    &__hero-block {
      padding-bottom: 250px;
    }
    &__hero-img {
      top: 31%;
      max-width: 250px;
    }
    &__nav-block {
      padding-top: 100px;
    }
  }
}
@media (max-width: 385px) {
.footer {
  &__wrapper {
    padding-bottom: 82px;
  }
    &__hero-block {
      &::before {
        background-image: url('../images/content/footer-bg-s.png');
        background-position: center 115%;
        width: 100%;
      }
    }
  }
}