@use 'importer' as *;
.footer {
  background-color: $dark-800;
  padding: 80px 0 56px;
  position: relative;
  overflow: hidden;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__social-block {
    max-width: 322px;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__social-decr-box {
    font-size: 15px;
    line-height: 1.2;
    color: $grey-text-2;
    padding-top: 20px;
    p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__nav-block {
    max-width: 358px;
  }
  ul.footer__nav-list {
    margin-bottom: 30px;
  }
  &__nav-item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__nav-link {
    @include Gordita-400;
    font-size: 20px;
    color: $white-400;
    line-height: 1;
  }
  &__hero-block {
    position: relative;
  }
  &__hero-title{
    @include Goldman-400;
    font-size: 128px;
    line-height: 1;
    color: $white-400;
    text-align: center;
    margin-top: -46px;
  }
  &__hero-title-txt {
    margin-bottom: 30px;
  }
  &__hero-title-style {
    color: $accent;
  }
  &__hero-img {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__bg-title {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    font-size: clamp(60px, 15vw, 257px);
    //font-size: 257px;
    @include Goldman-400;
    line-height: 1.2;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    pointer-events: none;
    z-index: 0;
    text-align: center;
  }
}