@use 'importer' as *;

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body.loading {
  opacity: 0;
  transition: opacity .3s ease;
}

body.loaded {
  opacity: 1;
}

body {
  display: flex;
  flex-direction: column;
  @include Gordita-400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color: $grey-text;
  position: relative;
  background-color: $dark-700;

  &.lock {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1540px;
  padding: 0 20px;
  margin: 0 auto;
}

.icon {
  path.arrow {
    stroke: $white-400;
  }
}

.social-list {
  display: flex;
  align-items: center;
  gap: 25px;

  &__link {
    width: 47px;
    height: 47px;
    display: block;
    border-radius: 50%;
    outline-offset: 4px;
    transition: box-shadow 0.3s, opacity 0.3s;

    &:hover {
      box-shadow: 3px 3px 8px rgba(0, 0, 0, .4);
    }

    &:focus {
      outline: 1px solid $accent;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.contact-us {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: $dark-700;
  @include Gordita-500;
  font-size: 20px;

  &__title {
    border-radius: 50px;
    padding: 20px 38px;
    background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
    outline-offset: 4px;
    border-radius: 50px;
    transition: opacity 0.3s, box-shadow 0.3s;

    &:hover {
      opacity: 0.8;
      background: linear-gradient(180.00deg, rgba(246.41827392578125, 171.1123504638672, 45.01872253417969, 1), rgba(251.32211303710938, 195.81973266601562, 93.03751373291016, 1) 100%);
    }

    &:focus {
      outline: 1px solid $accent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
    }
  }

  &__img {
    padding: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 51px;
    background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
    outline-offset: 4px;
    border-radius: 50px;
    transition: opacity 0.3s, box-shadow 0.3s;

    &:hover {
      opacity: 0.8;
      background: linear-gradient(180.00deg, rgba(246.41827392578125, 171.1123504638672, 45.01872253417969, 1), rgba(251.32211303710938, 195.81973266601562, 93.03751373291016, 1) 100%);
    }

    &:focus {
      outline: 1px solid $accent;
    }

    &:active {
      box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
    }
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  @include Goldman-400;
  font-size: 28px;
  color: $white-400;
  outline-offset: 12px;
  border-radius: 36px;

  &__title {
    padding-bottom: 1px;

    &--style {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background-color: $accent-logo;
        left: 0;
        bottom: -1px;
        transition: width 0.3s;
      }
    }
  }

  &:hover {
    .logo__title--style::after {
      width: 0;
    }
  }

  &:focus {
    outline: 1px solid #F6AD32;
  }

  &:active {
    opacity: 0.7;
  }
}

.title {
  @include Goldman-700;
  color: $white-400;
  text-transform: uppercase;
}

.accent-text {
  color: $accent-logo;
}

@media (max-width: 768) {
  .container {
    padding: 0 20px;
  }
}

.btn {
  background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
  outline-offset: 4px;
  border-radius: 50px;
  transition: opacity 0.3s, box-shadow 0.3s;

  &:hover {
    opacity: 0.8;
    background: linear-gradient(180.00deg, rgba(246.41827392578125, 171.1123504638672, 45.01872253417969, 1), rgba(251.32211303710938, 195.81973266601562, 93.03751373291016, 1) 100%);
  }

  &:focus {
    outline: 1px solid $accent;
  }

  &:active {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
  }
}

html[dir="rtl"] .header__menu {
  direction: rtl;
}

html[dir="rtl"] .header__lang {
  direction: rtl;
}