@use 'importer' as *;
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @include Gordita-400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color:$grey-text;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}
a {
  color: inherit;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1540px;
  padding: 0 20px;
  margin: 0 auto;
}

#instagram {
  path.inst-bg {
    fill: #393939;
  }
  path.inst-fg {
    fill: $white-400;
  }
}
.icon {
  path.arrow {
    stroke: $white-400;
  }
}
.social-list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.contact-us {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: $dark-700;
  @include Gordita-500;
  &__title {
    border-radius: 50px;
    padding: 20px 45px;
    border-radius: 47px;
    background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
  }
  &__img {
    padding: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 51px;
    background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
  }
}