@use 'importer' as *;

.header {
  padding-top: 35px;
  padding-bottom: 10px;
  position: fixed;
  inset: 0;
  height: fit-content;
  z-index: 30;
  transition: padding 0.5s, background-color 0.5s, backdrop-filter 0.5s;

  &--blur {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $dark-hero;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 28px;
      transition: transform 0.3s, opacity 0.3s, outline 0.3s;
    }
  }
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  ul.menu__list {
    padding: 10px 20px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    background: rgba(252, 218, 141, 1);
    background: linear-gradient(90.00deg, rgba(131.17788696289062, 131.17788696289062, 131.17788696289062, 1), rgba(58.61628723144531, 58.61628723144531, 58.61628723144531, 1) 100%);
  }

  &__item {
    background-color: transparent;
  }

  &__link {
    @include Gordita-400;
    line-height: 1;
    font-size: 20px;
    color: $white-400;
    padding: 14px 46px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-400;
    outline-offset: 4px;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s, box-shadow 0.3s, background-color 0.3s, outline 0.3s;

    &--active {
      background-color: $accent-logo;
      color: $dark-300;
    }

    &:hover {
      background-color: $accent-logo;
      color: $white-400;
      opacity: 0.86;
    }

    &:focus {
      outline: 1px solid #F6AD32;
    }

    &:active {
      box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #fcda8dd1;
    }
  }
}

.lang {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    padding: 0 50px;

    &::after {
      position: absolute;
      content: '/';
      color: $grey-500;
      font-size: 20px;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      position: absolute;
      content: '/';
      color: $grey-500;
      font-size: 20px;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:first-child,
    &:last-child {
      padding: 0;

      &::after,
      &::before {
        display: none;
      }
    }
  }

  &__option {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    @include Gordita-400;
    color: $grey-500;
    outline-offset: 8px;
    border-radius: 50%;
    transition: all .3s;

    &--active {
      color: $white-400;
    }

    &:hover {
      color: $accent-logo;
    }

    &:focus {
      outline: 1px solid #F6AD32;
    }

    &:active {
      opacity: .7;
    }
  }
}

@media (max-width: 1250px) {
  .header {
    padding: 40px 0 20px;
  }

  .menu {
    width: auto;

    &__btn {
      width: 82px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      position: relative;
      z-index: 25;

      span {
        width: 100%;
        min-width: 100%;
        height: 3px;
        background-color: $white-400;
        transition: opacity .3s ease;

        &::after {
          position: absolute;
          content: '';
          width: 50%;
          height: 3px;
          background-color: $white-400;
          bottom: 10px;
          right: 0;
          transition: transform .3s ease, width .3s ease, bottom .3s ease, left .3s ease;
        }

        &::before {
          position: absolute;
          content: '';
          width: 50%;
          height: 3px;
          background-color: $white-400;
          top: 10px;
          left: 0;
          transition: transform .3s ease, width .3s ease, top .3s ease, left .3s ease;
        }
      }

      &--active {
        span {
          width: 0; // центральная линия скрывается
          min-width: 0;

         &::before {
            top: 50%;
            left: 50%;
            width: 72px;
            transform: translate(-50%, -50%) rotate(45deg);
          }
        
          &::after {
            bottom: auto;
            top: 50%;
            left: 50%;
            width: 72px;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }

      &:hover {
        span {
          background-color: $accent-text;

          &::before,
          &::after {
            background-color: $accent-text;
          }
        }
      }

      &:active {
        span {
          opacity: .7;

          &::before,
          &::after {
            opacity: .7;
          }
        }
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      inset: 0;
      padding-top: 226px;
      height: 100vh;
      z-index: 20;
      transform: translateY(-200%);
      transition: transform .5s;
      background-color: rgba(35, 35, 35, 0.7);
      &--active {
        transition: transform .5s;
        transform: translateY(0);
        backdrop-filter: blur(14.5px);
        -webkit-backdrop-filter: blur(14.5px);
      }
    }

    &__item,
    &__list,
    &__link {
      width: 100%;
    }

    ul.menu__list {
      margin-bottom: 33px;
    }

    &__list {
      flex-direction: column;
      align-items: center;
      background: transparent;
      gap: 23px;
    }

    &__link {
      padding: 32px 0;
    }
  }

  .lang {
    &__item {
      padding: 0 60px;
  
      &::after,
      &::before {
        font-size: 36px;
      }
  
      &::after {
        right: 30px;
      }
  
      &::before {
        left: 30px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    padding: 30px 0 20px;
  }

  .menu {
    &__btn {
      width: 46px;
      height: 44px;

      span {
        height: 2px;

        &::after {
          width: 20px;
          height: 2px;
          bottom: 14px;
          right: 5px;
        }

        &::before {
          width: 20px;
          height: 2px;
          left: 5px;
          top: 14px;
        }
      }

      &--active {
        span {
          &::before {
            width: 30px;
            left: 23px;
            top: 22px;
          }

          &::after {
            width: 30px;
          }
        }
      }
    }

    &__nav {
      padding-top: 125px;
    }

    ul.menu__list {
      margin-bottom: 20px;
    }

    &__link {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 24px;
    }
  }

  .lang {
    &__item {
      padding: 0 40px;
  
      &::after,
      &::before {
        font-size: 24px;
      }
  
      &::after {
        right: 20px;
      }
  
      &::before {
        left: 20px;
      }
    }

    &__option {
      font-size: 24px;
    }
  }
}


@media (max-width: 1250px) and (orientation: landscape) {
  .header {
    padding: 20px 0;
  }

  .menu__list {
    gap: 7px;
  }

  .menu ul.menu__list {
    padding: 0 20px;
    margin-bottom: 10px;
  }

  .menu__nav {
    padding-top: 70px;
  }

  .menu__btn {
    height: 44px;
  }

  .menu__link {
    padding: 10px 0;
  }

  .menu__btn--active span::after,
  .menu__btn--active span::before {
    width: 50%;
  }

  .lang__option {
    font-size: 20px;
  }
}