@use 'importer' as *;
.hero  {
  padding: 160px 0 60px;
  position: relative;
  background-color: $dark-hero;
  z-index: 0;
  &::after {
    position: absolute;
    content: '';
    background: linear-gradient(180.00deg, rgba(46, 46, 46, 1), rgba(34, 34, 34, 1) 100%);
    width: 100%;
    height: 88px;
    top: auto;
    bottom: 0;
    left: 0;
  }
  &__wrapper {
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/content/hero-bg-l.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/content/hero-bg-r.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 800px auto;
    grid-template-areas:
      "content about"
      "card    about";
    column-gap: 40px;
    row-gap: 30px;
    align-items: center;
  }
  &__content {
    max-width: 800px;
    width: 100%;
    //padding-right: 65px;
    grid-area: content;
  }
  &__title {
    font-size: 108px;
    line-height: 0.8;
    max-width: 740px;
    margin-bottom: 40px;
  }
  &__title-txt {
    &--style {
      color: $accent-logo;
    }
  }
  &__subtitle {
    font-size: 24px;
    color: $white-400;
    margin-bottom: 30px;
  }
  &__subtitle-style {
    color: $accent-logo;
  }
  .card {
    grid-area: card;
    max-width: 800px;
    width: 100%;
    padding: 45px 50px;
    border-radius: 30px;
    position: relative;
    background-image: url('../images/content/card-bgc.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    z-index: 0;
    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/content/hero-card.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  
    &__title {
      font-size: 32px;
      line-height: 0.8;
      color: $dark-750;
      margin-bottom: 10px;
      max-width: 435px;
    }
  
    &__title-txt {
      &--style {
        color: $accent-text;
      }
    }
  
    &__descr {
      max-width: 340px;
      font-size: 18px;
      color: $grey-text;
      margin-bottom: 15px;
    }
  }
  &__about {
    grid-area: about;
    position: relative;
    margin-top: -70px;
  }
  
  &__about-img-wrap {
  
/*     &::before {
      position: absolute;
      content: '';
      filter: blur(308.29998779296875px);
      background: #2f2f2f;
      z-index: 0;
      top: 124px;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      width: 994px;
      height: 994px;
    } */
  }
  &__about-img {
    max-width: 596px;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }
  &__tag {
    font-size: 24px;
    line-height: 1;
    color: $white-400;
    border-radius: 30px;
    padding: 30px 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(41, 41, 41, 0.29);
    width: fit-content;
    position: absolute;
    z-index: 2;
    &.tag1 {
      bottom: 57%;
      right: -38px;
    }
    &.tag2 {
      bottom: 42%;
      left: -90px;
    }
    &.tag3 {
      bottom: 80px;
    }
  }
}



.faq {
  background-color: $dark-700;
  padding: 130px 0;
  &__title {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
  }
  &__accordion {
    max-width: 695px;
    width: 100%;
    margin: 0 auto;
  }
  &__item {
    padding: 10px 0;
  }
  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 24px;
    @include Gordita-400;
    color: $white-400;
    border: none;
    &:hover {
      .faq__question-label {
        color: $accent-bold;
      }
      .faq__question-icon {
        background: linear-gradient(180.00deg, rgba(246.41827392578125, 171.1123504638672, 45.01872253417969, 1), rgba(251.32211303710938, 195.81973266601562, 93.03751373291016, 1) 100%);
      }
    }
    &:active {
     .faq__question-label {
        opacity: .7;
      }
      .faq__question-icon {
       box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
      }
    }
  }
  &__question-label {
    text-align: left;
  }
  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
    &.open {
     height: fit-content;
     transition: all .3s;
    }
  }
  &__answer-txt {
    color: $white-400;
    line-height: 1.2;
   p {
    margin-top: 10px;
    &:last-child {
      margin-bottom: 0;
    }
   }
  }
  &__question-icon {
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      transition: all .3s;
      transform: rotate(45deg);
    }
    &--open {
      background-color: $white-400;
      .icon {
        transition: all .3s;
        transform: rotate(-45deg);
      }
    }
  }
}
html[dir="rtl"] .faq__question {
  text-align: right;
}

@media (max-width: 1400px) {
  .hero {
    &::after {
      height: 60px;
    }
    &__inner {
      align-items: flex-end
    }
    &__about {
      margin-top: 0;
    }
    &__tag {
      font-size: 18px;
      padding: 20px;
      &.tag1 {
        right: 0;
      }
    }
  }
}
@media (max-width: 1280px) {
 .hero {
  &__title {
    font-size: 86px;
  }
  &__tag {
    &.tag1 {
      right: 0;
      left: 0;
      bottom: 50%;
    }
    &.tag2 {
      left: 0;
      bottom: 30%;
    }
    &.tag3 {
      bottom: 40px;
    }
  }
 }
}
@media (max-width: 1200px) {
  .hero {
    &::after {
      display: none;
    }
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &__content {
      flex: 1 1 auto;
    }
  }
}
@media (max-width: 440px) {
  .faq {
    padding: 100px 0;
    &__question {
      padding: 5px 0;
    }
    &__question-label {
      font-size: 18px;
    }
  }
}