@use 'importer' as *;
.hero  {
  display: none;
}
.faq {
  background-color: $dark-700;
  padding: 130px 0;
  &__title {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
  }
  &__accordion {
    max-width: 695px;
    width: 100%;
    margin: 0 auto;
  }
  &__item {
    padding: 10px 0;
  }
  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 24px;
    @include Gordita-400;
    color: $white-400;
    border: none;
    &:hover {
      .faq__question-label {
        color: $accent-bold;
      }
      .faq__question-icon {
        background: linear-gradient(180.00deg, rgba(246.41827392578125, 171.1123504638672, 45.01872253417969, 1), rgba(251.32211303710938, 195.81973266601562, 93.03751373291016, 1) 100%);
      }
    }
    &:active {
     .faq__question-label {
        opacity: .7;
      }
      .faq__question-icon {
       box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       background: linear-gradient(180.00deg, rgba(249, 206, 134, 1), rgba(254, 227, 177, 1) 100%);
      }
    }
  }
  &__question-label {
    text-align: left;
  }
  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
    &.open {
     height: fit-content;
     transition: all .3s;
    }
  }
  &__answer-txt {
    color: $white-400;
    line-height: 1.2;
   p {
    margin-top: 10px;
    &:last-child {
      margin-bottom: 0;
    }
   }
  }
  &__question-icon {
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      transition: all .3s;
      transform: rotate(45deg);
    }
    &--open {
      background-color: $white-400;
      .icon {
        transition: all .3s;
        transform: rotate(-45deg);
      }
    }
  }
}
html[dir="rtl"] .faq__question {
  text-align: right;
}

@media (max-width: 440px) {
  .faq {
    padding: 100px 0;
    &__question {
      padding: 5px 0;
    }
    &__question-label {
      font-size: 18px;
    }
  }
}