@use 'importer' as *;
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
  body {
    font-family: 'Noto Sans Arabic', sans-serif !important;
  }
  .header {
    .lang {
      flex-direction: row-reverse;
      &__option {
        font-weight: 400;
      }
    }
  }
  .hero {

    .card {
      background-image: url('../images/content/card-bgc-rtl.png');
      background-position: 0 0;
      padding-left: 0;
      padding-right: 30px;
      &__img {
        right: auto;
        left: 0;
        transform: scale3d(-1, 1, 1);
      }
    }
    &__about-img {
      transform: scale3d(-1, 1, 1);
    }
    &__tag {
      &.tag1 {
        left: -70px;
        right: auto;
        bottom: 50%;
      }
      &.tag2 {
        left: auto;
        right: -65px;
        bottom: 37%;
      }
      &.tag3 {
        width: 100%;
      }
    }
  }
  .media {
    .media-tabs {
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    &::before {
      left: 0;
    }
    .media-slider {
      &__controls {
        flex-direction: row-reverse;
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
  .about {
    &__title {
      max-width: 100%;
      text-align: center;
    }
    .card {
      transform: scale3d(-1, 1, 1);
      &__inner {
        flex-direction: row-reverse;
      }
    }
    .about-slider {
      &__controls {
        margin-left: 0;
        margin-right: auto;
        flex-direction: row-reverse
      }
/*       &__btn {
        &--nex {
          .icon {
            transform: rotate(-135deg);
          }
        }
      } */
    }
  }
  .projects {
    &::after {
      transform: scale3d(-1, 1, 1);
      background-size: auto;
    }
    &__lisd {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    .projects-card__link.visit.btn {
      .icon {
        transform: rotate(-90deg);
      }
    }
  }
  .media {
    .vedio-card {
    @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        .hero {
          background-image: url('../images/content/isaDagestani-video-2x-rtl.jpg');
        }
    
        @supports (background-image: url("image.avif")) {
          .hero {
            background-image: url('../images/content/isaDagestani-video-rtl.avif');
          }
        }
      }
    
      background-image: url('../images/content/isaDagestani-video-rtl.jpg');
    }
    .vedio-card__link {
      .icon {
        transform: scale3d(-1, 1, 1);
        margin-right: 12px;
      }
    }
  }
  .faq {
    &__title {
      text-align: right;
    }
    &__accordion {
      margin: 0;
    }
    &__question-icon {
      .icon {
        transform: rotate(-135deg);
      }
      &--open {
        .icon {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .contact-us {
    &__img {
      .icon {
        transform: rotate(-90deg);
      }
    }
  } 

  @media (max-width:1540px) {
    .hero {
      &__tag {
        &.tag1 {
          left: 0px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .hero {
      &__about-img {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
  @media (max-width: 880px) {
   .menu {
     &__btn {
        span{
          &::before {
            left: auto;
            right: 0; // зеркалим начальную позицию
          }
          &::after {
          right: auto;
          left: 0; // зеркалим начальную позицию
        }
        }
      &--active {
        span {
          &::before {
            left: 0;
            right: auto;
            transform: translate(-0%, -50%) rotate(45deg);
          }
          &::after {
            transform: translate(0%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
 }
}