$white-400: #FFFFFF;
$grey-400: #ffffff7a;
$grey-500: #8F8F8F;
$accent: #F7CF84;
$accent-bold: #DFA841;
$accent-card: #FFEFCA;
$dark-400: #2A2A2A;
$dark-300: #2C2C2C;
$dark-700: #222222;
$dark-800: #1A1A1A;
$dark-750: #2E2E2E;
$dark-hero: #282828;
$grey-text: #636363;
$grey-text-2: #979797;
$accent-text: #E0A828;
$accent-logo: #FCDA8D;
$liser-btn: #FCD99C;

%Goldman-700 {
  font-family: 'Goldman-Bold';
  font-weight: 700;
}
%Gordita-400 {
  font-family: 'Gordita-Regular';
  font-weight: 400;
}
%Inte-400 {
  font-family: 'Inter-Regular';
  font-weight: 400;
}

@mixin Goldman-700 {
  font-family: "Goldman-Bold", sans-serif;
  font-weight: 700;
}
@mixin Goldman-400 {
  font-family: "Goldman-Regular", sans-serif;
  font-weight: 400;
}
@mixin Gordita-400  {
  font-family: "Gordita-Regular", sans-serif;
  font-weight: 400;
}
@mixin Gordita-500  {
  font-family: "Gordita-Medium", sans-serif;
  font-weight: 500;
}

 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
   text-transform: uppercase;
 }
 %capitalaize {
  text-transform: capitalize;
 }

 %visual-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    position: absolute;
 }