$semi-white: #f0f0f5;
$dark-blue: #232d55;
$grey: #64738c;
$blue:#5d98d8;
$white: #fff;

%Muli-900 {
  font-family: 'Muli-Black';
  font-weight: 900;
}

@mixin Muli-700 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}
@mixin Rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}
@mixin Rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}
@mixin Rubik-600 {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 600;
}




 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
   text-transform: uppercase;
 }
 %capitalaize {
  text-transform: capitalize;
 }

 %visual-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    position: absolute;
 }